# The hostname of the system containing your DTAQ's
systemName=

# Username for the specified system
userName=

# Password for the specified system
password=

# The library your DTAQ's reside in
libraryName=

# The name of the keyed DTAQ which your results will be written to
outQueueNameKeyed=

# The name of the DTAQ (non-keyed) which your data to be inferenced will be written to
inQueueName=

# The kafka topic to send your data to be inferenced to
sendTopic=

# The kafka topic to receive your inferenced results from
receiveTopic=